*{
    margin:0;
    padding: 0;
    list-style: none;
    text-decoration: none;
  }
  

  
  body{
    max-width: 100%;
    margin:0;
    padding:0;
    background-color: #CED0CE;
  }

  .content{
    padding-left: 20%;
    padding-right:20%;
    padding-top:2%;
    padding-bottom: 2%;
  }
  
  .title{
    padding-top:1%;
    padding-bottom:1%;
  padding-left:2%;
  border-color: #000;
  border-radius:15px;
  font-size:20pt;
  background-image: linear-gradient(to left,#d9d9d9, #FAA916);;
  }
  
  .buton{
    width: 110px;
    height: 55px;
    margin-left: 45%;
    margin-right: 45%;
  }

  .continut
  {
    background-color:#E6E6FA;
    padding-top:1%;
    padding-bottom:1%;
  padding-left:2%;
  padding-right:2%;
  text-indent: 4%;
  text-align:justify;
  margin-bottom: 2%;
  border-color: black;
  border-radius:15px;
  }
  

  #text
  {
    width: 90%;
  height: 20%;
  }
  
  .btn {
    border: none;
    background-color: gray;
    padding: 10px 28px;
    font-size: 16px;
    position: absolute; 
    left:70%;
    border-radius: 12px;
  }

  .btn:hover {
    background-color: #4CAF50;
    color: white;
  }

  footer{
    max-width: 100%;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #E0E0E0;
    /* padding:0px 0px 0px 0px; */
    margin: 0 auto;
    font-family: 'Montserrat';
    font-size: 20px;
    color: #4CAF50;
    text-align: left;
  }
  
  .footer-company-name{
    width: 100%;
    position: relative;
    left: 0;
    bottom: 0;
  }

  
  #facut{
    font-size: 30px;
    text-align: center;
  }

  @media screen and (max-width: 1035px)
  {
    .title{
      font-size:25px;
    }
    p {
      font-size:18px;
    }
  }
  @media screen and (max-width: 970px)
{
  .title{
    font-size:20px;
  }
  p {
    font-size:16px;
  }
  
  .buton{
    width: 100px;
    height: 40px;
    font-size: 13px;
    margin-left: 40%;
    margin-right: 50%;

  }


}

  @media screen and (max-width: 635px)
{

  .title{
    font-size:18px;
  }
  p {
    font-size:15px;
  }

  .buton{
    width: 90px;
    height: 40px;
    font-size: 12px;
    margin-left: 36%;
    margin-right: 50%;
  }
  .btn{
    width: 10px;
    height: 5px;
  }

}

@media screen and (max-width: 375px)
{

  .content
  {
    padding-left:17%;
    font-size:12px;
  }
  .title{
    font-size:15px;
  }
  p {
    font-size:12px;
  }

  .buton{
    width: 60px;
    height: 20px;
    font-size:10px;
    margin-left: 34%;
    margin-right: 50%;
  }

  .btn{
    /* width: 5px;
    font-size: 5px;
    height: 5px;
    left:80%; */
    float: none;
    display: block;
    max-width: 100%
  }

}